<p id="notice"><%= notice %></p>

<p>
  <strong>Number1:</strong>
  <%= @st.number1 %>
</p>

<p>
  <strong>Numder2:</strong>
  <%= @st.numder2 %>
</p>

<%= link_to 'Edit', edit_st_path(@st) %> |
<%= link_to 'Back', sts_path %>
